<footer class="container" style="margin-top:1.2em;">
  <p class="text-center">
    Copyright @2017 Rails 501
    <br>Design by
    <a href="https://github.com/JaykeyGuo" target="_new">Jaykey</a>
  </p>

</footer>
