<footer class="container" style="margin-top: 100px;">
  <p class="text-center">
    Copyright $2017 @Rails101-version "A"
    <br>Desige by
    <a href="http://courses.growthschool.com" target="_new">Xdite</a>
  </p>
</footer>
